
h1{
    text-align:center;
    padding: 10px;
    font-family: sans-serif;
    font-size:75px;
    text-decoration:double;
}
p{
    padding-left: 30px;
    text-align: justify;
    padding-right: 30px;
    background-color: rgba(255, 254, 254, 0.486);
    border-radius: 30px;

}
h2{
    padding: 10px;
    font-size:40px;
    font-style: italic;
}
    
.bg-image{
    background-image: url(/pics/d.png);
    background-repeat: no-repeat;
    background-attachment: fixed; 
}
table, th, td{
    text-align: center;
    border: 2px solid black;
    border-collapse: collapse;
    background-color: rgba(206, 202, 202, 0.918);
    padding-right: 10px;
    padding-left: 10px;
}
table{
    padding-bottom: 30px;
}
.center {
    margin-left: auto;
    margin-right: auto;
  }
.container{
    display: flex;
    padding-left:50px;
    padding-right: 50px;
}
footer{
    background-color: black;
}
.nev{
    text-align:justify;
    background-color: black;
    font-family: serif;
}
h2{
    text-align: center;
}

